.app__homeButton {
  text-decoration: none;
  color: white;
  background: var(--gold-dark);
  padding: 10px 20px;
  margin: 29px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 2px 2px 6px rgba(0,0,0,.2);
}

.app__homeButtonsContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.button {
  text-decoration: none;
  color: white;
  background: var(--gold-dark);
  padding: 10px 20px;
  margin: 29px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 2px 2px 6px rgba(0,0,0,.2); 
  cursor: pointer;
  border: none; 
  transition: all ease-in-out 500ms;
}

.button[disabled] {
  background: grey;
  cursor: not-allowed;
}

.message {
  background: var(--gold-dark);
  color: white;
  padding: 20px;
  display: block;
}

.message__hide {
  display: none;
}